<h1>You are on Cars</h1>
<p>This is best web site to find your future car.
  Contact us in order to find all necessary information. Enjoy! </p>
<h4>Follow the links below</h4>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/cars">Cars</a></li>
</ul>