<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <section style="padding: 1rem 10rem; background: #e07a5f; display: flex;">
    <a href="/" style="margin: 0; font-size: 24px; text-decoration: none; color: #f2cc8f">NodeJS Tutorial</a>
    <nav>
      <ul style="padding: 0 4rem; margin: 0; display: flex;">
        <li style="list-style-type: none; padding-right: 1rem;">
          <a style="text-decoration: none; color: #ffffff" href="/">Home</a>
        </li>
        <li style="list-style-type: none; padding-right: 1rem;">
          <a style="text-decoration: none; color: #ffffff" href="/about">About</a>
        </li>
        <li style="list-style-type: none; padding-right: 1rem;">
          <a style="text-decoration: none; color: #ffffff" href="/users">Users</a>
        </li>
      </ul>
    </nav>
  </section>
  <div>
    <div style="background: #f4f1de;">
      <h3 style="text-align: center; padding-top: 2rem; padding-bottom: 2rem; margin: 0">Chapter
        1. Introduction</h3>
      <div style="background: #f4f1de; margin: 0 10rem">
        <p>Description. A lot of text. A lot of text. A lot of text. A lot of text.</p>
        <p>End of chapter 1.</p>
        <a href="#">Goto next chapter</a>
      </div>
    </div>
  </div>
  <footer>
    <div style="background: #3d405b; color: white; padding: 2rem 0;">
      <h3 style="text-align: center;">Form</h3>
      <div style="display: flex; justify-content: center;">
        <form method="post" action="/">
          <input name="title" type="text" />
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </footer>
</body>

</html>